html{
  scroll-behavior: smooth;
}

body{
font-family:"Helvetica", sans-serif;
}

h1{
font-size:60px;
}

.logo{
  font-size: 32px;
  grid-column:1 / -1;
  justify-self:left;
  grid-row:1;
  padding:20px;
}

.nav{
grid-column:1 / -1;
justify-self:right;
  grid-row:1;
}

.nav li{
display: inline;
list-style-type:none;
}

.nav ul{
padding: 20px;
}

.nav li a {
  color: #030303;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top:20px;
}
.nav li a:hover:not(.active) {
  background-color: #9C9C9C;
}
.nav .active {
  background-color: #9C9C9C;
}

.container{
display:grid;
grid-template-columns: auto auto;
grid-template-rows: 70px 1fr 1fr 1fr 100px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  grid-column: 1 / -1;
  border-bottom: 1px solid black;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  transition: max-height 0.2s ease-out;
  grid-column: 1 / -1;

}

.content{
  padding: 100px;
}

/*#accordion h3:before{
content:" + ";
}

#accordian div{
border:1px solid black;
background: yellow;
}

#accordian h3{
padding: 2px;
  width: 100%;
  background: yellow;
  border: 1px solid black;
}*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #545454;
  color: white;
  text-align: center;
}


@media screen and (min-width:800px){

.container{
display:grid;
grid-template-columns: auto auto;
grid-template-rows: 70px 1fr 1fr 1fr 100px;
}
}
@media screen and (prefers-reduced-motion: reduce){
html{
    scroll-behavior: auto;
}
}
